.container {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-rows: 150px 300px 300px 200px;
	grid-template-areas:
	"header header header header"
	"nav main main main"
	"nav main_2 main_2 main_2"
	"footer footer footer footer"
}

.item-header {
	background: linear-gradient(45deg, #30cfd0, #330867);
	grid-area: header;
	border-radius: 15px;
	margin: 5px;
	display: flex; /* Make the container a flexbox */
	align-items: center; /* Align child elements vertically */
}

.item-nav {
	background: linear-gradient(45deg, #37ecba, #72afd3);
	grid-area: nav;
	border-radius: 15px;
	margin: 5px;
}

.item-main {
	background: linear-gradient(45deg, #d299c2, #fef9d7);
	grid-area: main;
	border-radius: 15px;
	margin: 5px;
}

.item-main_2 {
	background: linear-gradient(45deg, #6a85b6, #bac8e0);
	grid-area: main_2;
	border-radius: 15px;
	margin: 5px;
}

.item-footer {
	background-color: rgb(77, 77, 77);
	grid-area: footer;
	border-radius: 15px;
	margin: 5px;
	background: linear-gradient(45deg, #303030, #4000b8);
}

#logo {
	display: block;
	margin: auto auto auto 2.1em;
	width: 25%;
	float:left;
}

#contact {
	margin-top: .05em;
	text-align: center;
	margin: auto 2.1em auto auto;
	color: white;
	text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

h1 {
	margin-top: .05em;
	text-align: center;
	margin: auto;
	color: white;
	text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

p {
	text-align: center
}